@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/themes/custom-theme/jquery-ui-1.8.13.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.fileupload-ui.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/shCore.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/shThemeDefault.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles/shCoreDefault.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cookie.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fileupload-ui.js")" type="text/javascript"></script>

    <!-- Global Definitions -->
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('.button').button();
            $('.down_button').button({
                icons: {
                    primary: "ui-icon-disk"
                }
            });
        });
    </script>
    

</head>

<body>    
@RenderSection("jquerycommands", false)
    <div class="page" data-role="content">
        <div id="header">
            <div id="title">
                @if (!string.IsNullOrWhiteSpace(ViewBag.Url))
                {
                    <h1>@ViewBag.Url</h1>
                }
                else
                {
                    <h1>http://sysbioapps.dyndns.org/</h1>
                }
            </div>
            <div id="logindisplay">
                @*@Html.Partial("_LogOnPartial")*@
                &nbsp;
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Services", "Services", "Home")</li>
                    <li>@Html.ActionLink("Software", "Software", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
             &copy; 2011 Frank T. Bergmann.
        </div>
    </div>
</body>
</html>
